
.reactPlayer {
    object-fit: contain;
    max-height: 720px;
    /*!*height: 100% !important;*!
    width: 100% !important;*/
}


@media screen and (max-width: 600px) {
    .reactPlayer {
        height: 45vh !important;
    }
}